<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Ayesha.</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Lato:wght@300&display=swap" rel="stylesheet">
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<span id="navSpan">Ayesha</span>
				<ul id="navUl">
					<li class="navLi"><a href="#"></a>HOME</li>
					<li class="navLi"><a href="#"></a>ABOUT</li>
					<li class="navLi"><a href="#"></a>SERVICES</li>
					<li class="navLi"><a href="#"></a>LOOKBOOK</li>
					<li class="navLi"><a href="#"></a>NEWS</li>
					<li class="navLi"><a href="#"></a>CONTACT</li>
				</ul>
				<button></button>
				<input type="search" name="search" id="siteSearch" placeholder="Search Site">
				<a class="bookOnLine" href="#">BOOK ONLINE</a>
			</nav>
		</header>
		<main>
			<section id="home">
				<section id="bNH">
					<h1 class="homeHead1">BLONDE</h1> 
					<h1 class="homeHead1">& HIGHLIGHT</h1>
				</section>
				<h3 class="homeHead">DIVIDE YOUR UNIQUENESS BY YOUR HAIRS IN STYLE</h3>
				<span id="mainServices">-OUR SERVICES</span>
				<aside id="firstVisit">
					<span id="firstSpan">YOUR FIRST VISIT?</span>
					<h2 id="discount"><span id="twentyOff">-20%</span> FOR FIRST VISIT</h2>
					<span id="classicHair">CLASSIC HAIR COLORING</span>
					<a class="bookButton" href="#">BOOK ONLINE</a>
				</aside>
				<aside id="hours">MON-SUN: 7:00AM-8:00PM</aside>
				<footer>
					<img class="mainSwipe" src="https://placebeard.it/40/40" alt="use js to swipe left/right">
					<img class="mainSwipe" src="https://placebeard.it/40/40" alt="use js to swipe left/right">
				</footer>
			</section>	
		</main>
		<div class="services">

			<section class="service">
				<img src="https://placebeard.it/100/100" alt="">
				<h3>EXPERT BEAUTICIANS</h3>
				<p>Beauty Experts color sit o,let semicodicing eliot macenal sa flaubus mallis expo sail and beauty extern interdum</p>
			</section>
			<section class="service">
				<img src="https://placebeard.it/100/100" alt="">
				<h3>QUALITY SERVICES</h3>
				<p>Hiar Styling Services sit amet semiading elit macecenas sa flaubus malise expo sail and beauty extern interdum</p>
			</section>
			<section class="service">
				<img src="https://placebeard.it/100/100" alt="">
				<h3>BEAUTY PRODUCTS</h3>
				<p>Hair Color or Product amet semiaducing elit maceanssse sa floubus malis expo sail and beauty extern interdum</p>
			</section>
		</div>
		<div id="MakeMoves">
			<section class="momentum">
				<h2>MAKE YOUR OWN MOMENTUM</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos molestias mollitia modi ducimus suscipit iure accusamus quod totam et facilis numquam, minus, ipsum enim. Consectetur minus nobis omnis temporibus vitae.</p>
				<a href="#">-READ MORE</a>
			</section>
			<section class="momentum">
				<a href="#"><img src="https://placebeard.it/500/500" alt="VIDEO OF HAPPY CLIENT"></a>
			</section>
		</div>
		<div id="stylests3">
			<section class="stylist">
				<img src="https://placebeard.it/300/400" alt="">
				<div class="namePlate">
				<h5>ALITA WILLIAMS</h5>
				<span>COLOURIST</span>
				</div>
			</section>
			<section class="stylist">
				<img src="https://placebeard.it/300/400" alt="">
				<div class="namePlate">
				<h5>AYESHA LAKE</h5>
				<span>STYLER</span>
				</div>
				</section>
			<section class="stylist">
				<img src="https://placebeard.it/300/400" alt="">
				<div class="namePlate">
				<h5>SMITH MICHENAL</h5>
				<span>BEAUTICIAN</span>
				</div>
			</section>
		</div>
		<section id="adMidPage">
			<span id="midPageSpan">COLOR DAY OFFER!</span>
			<h2 id="midPageH2">-10% ON HAIRCUT COLOR AND HIGHLIGHT</h2>
			<a id="midPageButton" class="bookButton" href="#">BOOK ONLINE</a>
			
		</section>
		<footer>
			<h3>OUR LOOKBOOK</h3>
			<section id="lookBook">
				<section id="ColumnOne">
					<img class="lookBookSquare" src="https://placebeard.it/300/300" alt="">
					<img class="lookBookLong" src="https://placebeard.it/300/600" alt="">
				</section>
				<section id="columnTwo">
					<img class="lookBookLong" src="https://placebeard.it/300/600" alt="">
					<img class="lookBookSquare" src="https://placebeard.it/300/300" alt="">
				</section>
				<section id="columnThree">
					<img class="lookBookSquare" src="https://placebeard.it/300/300" alt="">
					<img class="lookBookLong" src="https://placebeard.it/300/600" alt="">
				</section>
			</section>
		</footer>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>