/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-family: 'Lato', sans-serif;
  font-size: 16.2px;
}
#navUl{
 width: 55%;
 display:flex;
 list-style: none;
 flex-direction: row;
 justify-content: space-between;
}

nav{
  display:
  flex;
  align-content: center;
  justify-content: space-evenly;
  margin:0 4%;
  width: 100%;
}
#navSpan{
  width: 13%;
  font-family: 'Beau Rivage', cursive,'Lato','sans-serif';
  margin:auto 0 auto 0;
  font-size: 1.9rem;
}
nav a{
  height: 50%;
  font-size: .8rem;
  margin:auto 0;
  width: 10%;
  color:black;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif; 
}
#siteSearch{
  height: 1.5rem;
  width: 7%;
  margin:auto 5% auto 0;
  justify-content: left;
  font-size: .8rem;
  font-weight: bold;
}
.navLi{
  max-width: 100%;
  font-size:.7rem;
  /*border: .1rem solid green;*/
  margin: auto 1%;
}
main{background: url("https://placebeard.it/1600/1200") no-repeat;
  background-size: auto;
  border: 2px dashed #9799a7;
  height: 75rem;
  width: 100%;}
*main{
  border: .25rem solid green;
}
#home{margin-left:15%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
#firstVisit{
  /*border: .25rem black solid;*/
  background-color: black;
  color: white;
  width: 18rem;
  height: 20rem;
  margin: 10% 0 0 0;
  padding-left: 1rem;
position: absolute;top: 42rem;}
.bookButton{
  background-color: rgb(0, 0, 0);
  color:
  rgb(250, 246, 246);
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  /* padding: 3%; */
  height: 12%;
}
#firstVisit a{
  background-color: white;
  color: black;
  margin: 8% 23% 10% 0;
  position: relative;
  top: 12rem;

left: 2rem;}
#firstSpan{
  position:absolute;
  top: 3rem;
left: 2rem;}
#discount{
  position: absolute;
  top: 5rem;
left: 1rem;}
#twentyOff{
  font-size: 2.5rem;
font-weight: bolder;}
#classicHair{
  position: relative;
  top: 11rem;
left: 1.25rem;}

#hours{
  color: white;
  border: .25rem black solid;
  align-self:flex-end;
  transform: rotate(90deg);
position: absolute;right: -3rem;top: 35rem;}
#mainServices{
  border: .25rem black solid;
  background-color: black;
  color: white;
  padding:1%;
position: absolute;top: 43rem;}
main h1,h3,footer{  /* border: .25rem black solid; */
}
#bNH{
  color: aliceblue;
  font-size: 3rem;
  

  

position: absolute;top: 20rem;}
.homeHead1{
  margin: 0 auto;
}
.homeHead{
  color:white;
  font-size:1rem;
  margin-bottom: 4%
;position: absolute;top: 35rem;}
.bighome{
  margin:;
}
.services{
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
  margin:0 20%
}
.service{
  margin:0 10%
}
.service h3{
  font-size: 3rem;
}
.service img{
border-radius: 50%;
}
.service p{
  font-size: 2rem;
}
#MakeMoves{
  display: flex;
  justify-content: space-between;
  background-color: rgba(194, 241, 241, 0.642);
  align-items: center;
  padding: 2% 10%;
  
}
.momentum h2{
font-size: 2rem;
width:80%
}
.momentum p{
  font-size: .5rem;
}
.momentum a{
  background-color: black;
  color: white;
  text-decoration: none;
  position: relative;
  bottom: 2rem;
  width: 60%;
}
  /******************************************
/* LAYOUT
/*******************************************/
header {
  width: 80%;
}

footer {

}
#adMidPage{
  
/* right: -42px; */
  
/* background-position-x: 15rem; */
  
background: url("https://placebeard.it/400/400") no-repeat;
  
background-position: 86% 50%;
  
display: flex;
  
background-color: #dddff6b5;
  
background-blend-mode: color-dodge;
  background
;
  
width: 95%;
  
height: 25rem;
  
margin: 0,0;
  
flex-direction: column;
}
#midPageSpan{
  position: relative;
  top: 3rem;
  left: 10rem;
  font-size: 2rem;
}
#midPageH2{
  position: relative;
  top: 6rem;
  left: 10rem;
  font-size: 2rem;
  width: 27%;
}
#midPageButton{
  position: relative;
  top: 10rem;
  left: 9rem;
  max-width: 17rem;
  padding: 1%;
  }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.momentum{
  width:50%;
  padding: 2%;
  margin:0% 2%
}
#stylests3{
  display: flex;
  justify-content: center;
  padding: 5% 10%;

}
.stylist{
  width: 40%;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.stylist img{
  display: inline-block;
  border: white solid 1rem;
}
.namePlate{
  /* border: 2px solid black; */
  background-color: black;
  color: white;
  padding: 0 0 5%;
  /* width: 90%; */
  display: flex;
  flex-direction: column;
  width: 58%;
  position: relative;
  top: -3rem;
  align-items: center;
}
#lookBook img{
  /* float:
  left; */
}
.lookBookSquare{
  /* height: 25%; */
  /* width: 25%; */
  /* float: left; */
  /* position: relative; */
  /* top: -12rem; */
  /* left: 0rem; */
  /* margin-top: 4%; */
  /* margin-bottom: 0rem; */
  border: #ff000000 1rem solid;
}
.lookBookLong{
  /* height: 49%; */
  /* width: 20%; */
  /* position: relative; */
  /* margin-top: 12%; */
  /* top: 12rem; */
  /* left: -6rem; */
  /* margin: 5% 5% 5% 5%; */
  /* float: left; */
  border: 1rem white solid;
}
footer>h3{
  text-align: center;
  font-size: 2rem;
}
.mainSwipe{
  position: relative;
  top: 68rem;
  left: 64rem;
}
#lookBook{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#ColumnOne{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  /* height: 1000px; */
  /* width: 258px; */
  border: red 0rem solid;
}

section#ColumnOne {}
#columnTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#columnThree{
  display: flex;
  flex-direction: column;
}